body {
  margin: 0;
  padding: 0;
  font-family: "Sofia", sans-serif;
  background: linear-gradient(rgb(165, 220, 246), rgb(2, 175, 2));
}

.flexer {
  display: flex;
}

.board {
  width: 30%;
  min-width: 420px;
  height: 96vh;
  margin: 2vh auto;
  background: linear-gradient(rgb(197, 82, 82), rgb(88, 9, 9));
  border-radius: 15px;
  box-shadow: 5px 5px 15px 5px rgb(8, 7, 5);
}

/*---- answer-container ----*/

.answer-container {
  width: 100%;
  height: 11%;
  border: 1px solid black;
  border-radius: 15px 15px 0 0;
}

.answer-box {
  width: 70%;
  height: 100%;
  border-right: 1px solid black;
}

.answer {
  width: 90%;
  height: 80%;
  margin: 0 auto;
  margin-top: 7px;
  border-radius: 15px;
  border-right: 1px solid black;
  border-left: 1px solid black;
  box-shadow: inset 1px 1px 1px 2px;
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(249,140,4,1) 65%);
}

.btn-container {
  width: 29%;
  height: 100%;
}

.submit-btn {
  width: 80%;
  height: 80%;
  margin: auto;
  cursor: pointer;
  margin-top: 7px;
  border-radius: 15px;
  text-align: center;
  text-shadow: 1px 1px 2px black;
  box-shadow: inset -2px -2px 5px 2px;
  background-color: rgb(206, 205, 205);
}

.submit-btn:hover {
  transition: 0.3s;
  background: rgb(178, 176, 176);
}

.text {
  margin: 0 auto;
  padding-top: 15px;
  font-size: 18px;
}

/*---- guess-container ----*/

.guess-container {
  width: 100%;
  height: 80%;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.guess-row {
  height: 72px;
  width: 100%;
  border-bottom: 1px solid black;
}

.guess-pegs {
  height: 90%;
  width: 67%;
  padding: 4px 8px;
  border-right: 1px solid black;
}

.guess-peg {
  width: 20%;
  height: 80%;
  border-radius: 50%;
  border: 1px solid black;
  margin: 5px 2px 0 10px;
}

.grade-pegs {
  height: 90%;
  width: 30%;
  flex-wrap: wrap;
}

.grade-peg {
  width: 20%;
  height: 40%;
  margin: 5px 0 0 27px;
  border-radius: 50%;
  border: 1px solid black;
}

/*---- selection-container ----*/

.selection-container {
  width: 100%;
  height: 10%;
  border-radius: 0 0 15px 15px;
}